# This is Git's per-user configuration file.
[user]
    name = yosuke7040
    email = yosuke.bad4@gmail.com
[ghq]
	root = ~/src
# プレビューで表示される見た目の設定です。好みに合わせて設定してください。
[alias]
	lg = log --graph --decorate --abbrev-commit --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)\n  %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    a  = add
    ck = checkout
    sw = switch
    ss = status
    df = diff
    co = commit -a
    br = branch
    ps = push
    psh = push origin head
    pshf = push -f origin head
    pl = pull
    plr = !"git pull --rebase origin $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')"
    graph = log --pretty=format:'%Cgreen[%cd] %Cblue%h %Cred<%cn> %Creset%s' --date=short  --decorate --graph --branches --tags --remotes
    ucat = !"git ls-files --others --exclude-standard | xargs bat"
    fixup = commit --amend -C HEAD
    work = "!zsh -i -c git-worktree-switcher"
[url "github:"]
    InsteadOf = https://github.com/
    InsteadOf = git@github.com:
[pull]
    rebase = true
[fetch]
    prune = true
[branch]
    sort = -authordate
