" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" the leader key
let mapleader=" "

" the escape button
nnoremap <C-c> <Esc>

" redo
nnoremap U <C-r>

" navigation
nnoremap J }
nnoremap K {

nnoremap sv :action SplitVertically<CR>
nnoremap ss :action SplitHorizontally<CR>
nnoremap sm :action MoveEditorToOppositeTabGroup<CR>

nnoremap sh <c-w>h
nnoremap sl <c-w>l
nnoremap sj <c-w>j
nnoremap sk <c-w>k

" code interactions
nnoremap <leader>c :action CommentByLineComment<CR>
nnoremap <leader>C :action CommentByBlockComment<CR>
nnoremap <leader>r :action RenameElement<CR>
nnoremap <leader>f :action ReformatCode<CR>

" code information
nnoremap <leader>d :action ShowHoverInfo
nnoremap <leader>e :action ShowErrorDescription

inoremap jk <ESC>

set clipboard+=unnamed

" 定義への移動は gd
" インタフェースの実装に移動は、「I」マークを押した時の動作。 go to implementation から
nnoremap gi :action GotoImplementation<CR>

" Insert modeでTabキーを押すとインデントを下げる
inoremap <Tab> <Esc>v><Esc>i

" Insert modeでShift + Tabキーを押すとインデントを上げる
inoremap <S-Tab> <Esc>v<<Esc>i

" ノーマルモードおよびビジュアルモードでTabキーを押すとインデントを下げる
nnoremap <Tab> >>
vnoremap <Tab> >

" ノーマルモードおよびビジュアルモードでShift + Tabキーを押すとインデントを上げる
nnoremap <S-Tab> <<
vnoremap <S-Tab> <


" ---------- plugins ----------
" easy motion
set easymotion
map <leader>s <Plug>(easymotion-s)
map <leader>f <Plug>(easymotion-f)
map <leader>F <Plug>(easymotion-F)
"map <leader>F <Plug>(easymotion-bd-f)
